<!-- cinema_app/templates/base.html -->
<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <!-- SweetAlert CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css">
    <!-- SweetAlert JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>

    <title>{% block title %}{%endblock%}</title>
</head>
<body>
<header>
    <h1>Witamy w naszym kinie!</h1>
    <nav>
        <ul>
            <li><a href="/">Strona Główna</a></li>
            <li><a href="#">Repertuar</a></li>
            <li><a href="#">Cennik</a></li>
            <li><a href="#">Kontakt</a></li>
        </ul>
    </nav>
</header>
<script>
    {% if error_message %}
    swal({
        title: "Błąd",
        text: "{{ error_message }}",
        icon: "error",
        button: "OK",
    });
    {% endif %}
</script>
{% block content %}
{% endblock %}
</body>
<footer>
    <p>2024 Kino. Wszystkie prawa zastrzeżone.</p>
</footer>
</html>
