{% extends 'base.html' %}
{% load static %}
{% block title %}Strona Główna {% endblock %}
{% block content %}

<section class="intro">
    <h2>Nadchodzące premiery</h2>
    <p>Sprawdź nasze nadchodzące filmy, które warto zobaczyć w tym sezonie.</p>
    <button>Zobacz więcej</button>
</section>

<div class="container">
    <h2>Najnowsze Filmy</h2>
    <section class="latest-movies">
        {% for movie in latest_movies %}
        <div class="movie-card">
             <img src="{{ movie.image.url }}" alt="{{ movie.title }} Image">
            <h3><a href="{% url 'movie' movie.id %}">{{ movie.title }}</a></h3>
        </div>
        {% endfor %}
    </section>
</div>
{% endblock %}
{% block footer %}
<p>2024 Kino. Wszystkie prawa zastrzeżone.</p>
{% endblock %}


